* {
    margin: 0;
    padding: 0;
}

body{
    background-color: chocolate;
}

.container {
    background-color: orange;
    width: 100%;
    overflow: hidden;
    font-size: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background-color: black;
}

nav p {
    font-family: Arial;
    color: white;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    font-family: Arial;
    color: rgb(20, 42, 161);
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    opacity: 90%;
    z-index: 9;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 180px;
    border-radius: 4px;
}

nav ul li ul li a {
    padding: 8px 14px;
    color: #038114;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul li ul li a:hover {
    background-color: #7082e765;
    border: 10px;
    border-radius: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.notAvail{
    font-size: 50px;
    text-align: center;
    background-color: darkcyan;
    color: rgb(23, 209, 16);
    padding: 20px;
    border: 5px black solid;
    border-radius: 50px;
}
.footer {
    position: fixed;
    background-color: black;
    color: yellowgreen;
    text-align: center;
    font-size: 18px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
